<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="centered">
        <h1><%= prods.title %></h1>
        <hr>
        <div class="image">
            <img src="\<%= prods.imageUrl%>" alt="<%= prods.title%>">
        </div>
        <h2><%= prods.price %></h2>
        <p><%= prods.description %></p>
        <% if(isAuthenticated) {%>
            <%- include('../includes/add-to-cart',{prods: product}) %>
        <% } %>
    </main>
</body>
</html>